<h3>STUDENT REGISTRATION FORM</h3>
<br>

<form [formGroup]="addStudentForm" method="post" *ngIf="addStudentForm">
    <table align="center" cellpadding="10">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--After search guardian, user will be redirected to this page-->
        <tr>
            <td>FIRST NAME :- </td>
            <td>
            <input type="text" class="form-control" formControlName="students_first_name" name="First_Name" placeholder="First Name" autocomplete="off" required/>
            <small *ngIf="!isValid('students_first_name')" class="text-muted">Not enough characters</small>

            </td>
        </tr>
        <br>

        <tr>
            <td>LAST NAME :-</td>
            <td>
            <input type="text" class="form-control" formControlName="students_last_name" name="Last_Name" placeholder="Last Name" required/>
            <small *ngIf="!isValid('students_last_name')" class="text-muted">Not enough Characters</small>
            </td>
        </tr>
        <br>

        <tr>
            <td>DATE OF BIRTH:-</td>
            <td>
            <dp-date-picker [(ngModel)]="selectedDate" [config]="datePickerConfig" [theme]="'dp-material'" formControlName="students_date_of_birth" placeholder="Click Here to Enter DOB"
            name="Birth_Day" required></dp-date-picker>
            </td>
        </tr>
        <br>
        <tr>
            <td>HOME ADDRESS :-
            <br />
            <br />
            <br />
            </td>
            <td>
            <textarea name="Address" formControlName="students_home_address" class="form-control" rows="8" cols="35" placeholder="Enter Student's Home Address Here"></textarea>
            </td>
            <td>
            <small *ngIf="!isValid('students_home_address')" class="text-muted">Not Valid</small>
            </td>
        </tr>
        <br>

        <tr>
            <td>GENDER :-</td>
            <td>
            Male : <input type="radio" ng-required="true" value="male" formControlName="students_gender" required/> 
            Female : <input type="radio" ng-required="true" value="female" formControlName="students_gender" required/>
            </td>
        </tr>
        <br>



        <tr>
            <td colspan="2" align="center">
                <button type="submit" class="btn btn-success" [disabled]="!addStudentForm.valid" (click)="savesearchStudent(addStudentForm.value)" >Submit</button>
                <input type="reset" class="btn btn-danger" value="Reset">
            </td>
        </tr>
    </table>

</form>

