       <div  class = "multisearch" style="width: 400px; margin-bottom: 20px;">
            <h6>Select a lesson...</h6>
            <ng-select  [multiple]="true"
                        [allowClear]="true"
                        [items]="items"
                        [active] = "active"
                        [disabled]="disabled"
                        [(ngModel)] = "ngvalue"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        placeholder="No lessons selected"></ng-select>
            
            <br>     
        </div>
        <div class = "searchbutton">
            <button type="button" class="btn btn-primary" (click) = "searchLessons(ngvalue)" >Search</button>             
        </div>

        <br>  <br>  <br>  <br>  <br>  <br> 





           <!-- <label>City</label>
        <ng-select [items]="cities"
                   bindLabel="name"
                   [multiple]="true"
                   bindValue="id"
                   placeholder="Select city"
                   [(ngModel)]="selectedCityId">
        </ng-select>
        <p>
            Selected city ID: {{selectedCityId}}
        </p> -->
        <!-- <pre>{{itemsToString(value)}}</pre> -->