        <section>
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row invoice-list">
                        <div class="text-center corporate-id">
                            <img src="img/user6.png" alt="IgniterSpace" style="width:250px; height:100px">
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <h4>BILLING ADDRESS</h4>
                            <p>
                                Achintha Wijewickrama, <br>
                                129/1, Nawala Road, <br>
                                Narahenpita,<br>
                                Tel: +94 77 720 6228
                            </p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <h4>SHIPPING ADDRESS</h4>
                            <p>
                                Vector Lab<br>
                                Road 1, House 2, Sector 3<br>
                                ABC, Dreamland 1230<br>
                                P: +38 (123) 456-7890<br>
                            </p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <h4>INVOICE INFO</h4>
                            <ul class="unstyled">
                                <li>Invoice Number		: <strong>69626</strong></li>
                                <li>Invoice Date		: 04/10/2017</li>
                                <li>Due Date			: 12/11/2017</li>
                                <li>Invoice Status		: Paid</li>
                            </ul>
                        </div>
                    </div>


                    <div class="text-center invoice-btn">
                        <li><a [routerLink]="['../edit']" queryParamsHandling="merge">
                        <button type="button" class="btn btn-success btn-lg btn-block"><i class=" fa  fa-plus"></i>  Add Order</button>
                        </a></li>
                    </div>

                    <img src="img/user7.png" alt="Igniterspace" style="width:100%; height:300px">
                </div>

            </div>

        </section>
