        <div  class = "multisearch" style="width: 400px; margin-bottom: 20px;">
            <h6>Select tags for course...</h6>
            <br>
            <ng-select  [multiple]="true"
                        [allowClear]="true"
                        [items]="items"
                        [active] = "active"
                        [disabled]="disabled"
                        [(ngModel)] = "ngvalue"
                        (data)="refreshValue($event)"
                        (selected)="selected($event)"
                        (removed)="removed($event)"
                        placeholder="No tags selected"></ng-select>
            
            <br>     
        </div>
        <div class = "searchbutton">
            <button type="button" class="btn btn-primary" (click) = "searchLessons(ngvalue)" (click)="showseachresultForm()" >&nbsp;&nbsp;&nbsp;&nbsp;Go&nbsp;&nbsp;&nbsp;</button>             
        </div>

        <br><br> 

    <form *ngIf="seachresultForm" > 
        <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">

            <table class="display table table-bordered dataTable-striped table-hover" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                <thead>
                    <tr role="row">

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 100px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp;&nbsp; Course Name </th>

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 150px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;Course Tags</th>

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                            style="width: 150px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;&nbsp;Enrolled Students</th>

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                            style="width: 150px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;&nbsp;Lessons</th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of neworders ; let i = index">
                        <td>{{i + 1}}</td>
                        <td>{{order.orderitem.product_id}} - {{order.orderitem.name}}</td>
                        <td><a [routerLink]="['../:course_id']" queryParamsHandling="merge" (click)="markAttendance(  )">
                            <button class="btn btn-info" >
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                View Students
                            </button></a>
                        </td>
                        <td><a [routerLink]="['../:lesson_id']" queryParamsHandling="merge" (click)="markAttendance(  )">
                            <button class="btn btn-info" >
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                Lessons
                            </button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

           <!-- <label>City</label>
        <ng-select [items]="cities"
                   bindLabel="name"
                   [multiple]="true"
                   bindValue="id"
                   placeholder="Select city"
                   [(ngModel)]="selectedCityId">
        </ng-select>
        <p>
            Selected city ID: {{selectedCityId}}
        </p> -->
        <!-- <pre>{{itemsToString(value)}}</pre> -->