        
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

<label>Search for a course...</label>
    <form [formGroup] ="searchCoursesForm">
        <table>
           
            <br>
            <tbody>

            <td>    <p style="width: 100px; font-size: 10px; font-weight: 900"> Level :</p>
                    <select formControlName ="level" style = "height: 35px;" >
                            <option *ngFor="let i of select_level" [value]="i.itemName" > {{ i.itemName }} </option>
                    </select>
            </td>
            <td>    <p style="width: 100px; font-size: 10px; font-weight: 900">  Year :</p>
                    <select formControlName ="year" style = "height: 35px;">
                            <option *ngFor="let i of coursesYears" [value]="i.courses_year" > {{ i.courses_year }} </option>
                    </select>
            </td>
            <td>    <p style="width: 100px; font-size: 10px; font-weight: 900"> Day :</p>
                    <select formControlName ="day" style = "height: 35px;">
                            <option *ngFor="let i of select_day" [value]="i.itemName" > {{ i.itemName }} </option>
                    </select>
            </td>
           
        </tbody>
        </table>

        
        <div class = "searchbutton">
            &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="clearfields()" >&nbsp;&nbsp;&nbsp;&nbsp;clear&nbsp;&nbsp;&nbsp;</button> &nbsp;&nbsp;&nbsp; 
            <button type="button" class="btn btn-primary" (click) = "searchCourses(searchCoursesForm.value)" (click)="showSeachResultForm()" >&nbsp;&nbsp;&nbsp;&nbsp;search&nbsp;&nbsp;&nbsp;</button>             
        </div>
    </form>

        <br><br> 

    <form *ngIf="seachresultForm" > 
        <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">

            <table class="display table table-bordered dataTable-striped table-hover" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                <thead>
                    <tr role="row">

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 100px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp;&nbsp;
                            Course Name 
                        </th>

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 150px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-book" aria-hidden="true"></i> &nbsp;&nbsp;
                            Course Tags
                        </th>

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                            style="width: 75px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;&nbsp;
                            Enrolled Students
                        </th>

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                            style="width: 75px;">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;&nbsp;
                            Lessons
                        </th>


                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of courseDetails ">
                        <td>{{i.name}}</td>
                        <td>{{i.batch}} , {{i.year}}</td>
                        <td><a [routerLink]="['./students',i.id ]" queryParamsHandling="merge" (click)="getCourseStudents( i )">
                            <button class="btn btn-info" >
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                View Students
                            </button></a>
                        </td>
                        <td><a [routerLink]="['./lessons',i.id ]" queryParamsHandling="merge" (click)="passCourseForLessons( i )">
                            <button class="btn btn-info" >
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                View Lessons
                            </button></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

      