<div class="row">
  <div class="col-sm-12">
    <section class="panel">
      <header class="panel-heading">
        List of Lessons for the Course
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info" >

              <thead>
                <tr role="row">

                  <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1"
                    colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 150px;">Lesson Name
                  </th>

                  <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1"
                    colspan="1" aria-label="Engine version: activate to sort column ascending"
                    style="width: 150px;">Date
                  </th>

                  <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1"
                    colspan="1" aria-label="Engine version: activate to sort column ascending"
                    style="width: 50px;">
                  </th>

                </tr>
              </thead>

              <tbody role="alert" aria-live="polite" aria-relevant="all">

                <tr class="odd" *ngFor="let l of selectles" >


                  <td class="">{{ l.lesson_name }}</td>
                  <td class="">{{ l.dateh  }}</td>
                  <!-- | date : 'dd-MM-yyyy' -->
                  <td class="">

                    <button class="btn btn-primary btn-xs">
                      <i class="fa fa-pencil" [routerLink]="['./lesson_update',l.l_id]" queryParamshandling="merge"
                        (click)="updateLesson(l)"></i>
                    </button>

                    <button class="btn btn-danger btn-xs">
                      <i class="fa fa-trash-o " (click)="deleteLesson(l)"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="row-fluid">
              <div class="span6">
                <div class="dataTables_info" id="hidden-table-info_info">All Lessons for this Course is shown here!</div>
              </div>
              <div class="span6">
                <div class="dataTables_paginate paging_bootstrap pagination">
                </div>

              </div>
            </div>
            <h4>
              <div>
                <a [routerLink]="['./lesson_add']" queryParamshandling="merge">
                  <button class="btn btn-success">
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    Click
                  </button>
                </a>Here to Add a New Lesson
              </div>
            </h4>
          </div>

        </div>
      </div>
      
      <br>
       <h5>-Search a lesson to add to this course-</h5>
     
      <br>
      <div>
        <p>Search Your Lesson:</p>
        <small>by name..</small>

        <input type="text" name="search" placeholder="Search Lessons.." [(ngModel)]="search">
        <button type="submit" class="btn btn-info" (click)="similarLessons(search)" (click)="showTable()">Search</button>

      </div>
      <br>
      <br>
      <table class="display table table-bordered dataTable" *ngIf="detailForm" id="hidden-table-info"
        aria-describedby="hidden-table-info_info" [formGroup]="ListsearchedLessons" method="post">

        <thead >
          <tr role="row">

            <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1"
              colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 236px;">Name
            </th>

            <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1"
              colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 122px;">Select a Date
            </th>

            <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1"
              colspan="1" aria-label="Engine version: activate to sort column ascending" style="width: 122px;">
            </th>

          </tr>
        </thead>

        <tbody role="alert" aria-live="polite" aria-relevant="all" >

          <tr class="odd" *ngFor="let l of search_res">
           <div >
            <td class="" >
              <input formControlName="id" [(ngModel)]="search_res[0].id" name="id" type="hidden" class="form-control" value="search_res[0].id" required/>
              <input formControlName="name" [(ngModel)]="search_res[0].name" name="name" type="hidden" class="form-control" value="search_res[0].name" required/>
              {{ l.name }}</td>
          </div>
            <td>
            <input type="date" formControlName="date" placeholder="Held Date" name="Day">
            <td class="">
              <input class="btn btn-success" type="submit" value="Submit" [disabled]="!ListsearchedLessons.valid" (click)="hideTable()" (click)="savesearchedLesson(ListsearchedLessons.value)">
            </td>



          </tr>
        </tbody>
      </table>

    </section>
  </div>
</div>

