<div class="row">
    <div class="col-sm-12">
      <section class="panel">
         <header class="panel-heading">
           List of Lessons for the Course
         </header>
    <div class="panel-body">
      <div class="adv-table"> 
       <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
        <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info" >
  
         <thead>
         <tr role="row">
                                          
          <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
          rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
          style="width: 100px;">Lesson ID
          </th>
          
          <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
          rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 150px;">Lesson Name
          </th>
  
          <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
          rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
          style="width: 150px;">Date
          </th>
  
  
         </tr>
        </thead>
      
       <tbody role="alert" aria-live="polite" aria-relevant="all">
      
         <tr class="odd" *ngFor="let l of selectles">
                                             
          <td class="">{{ l.l_id }} </td>
          <td class="">{{ l.lesson_name }}</td>
          <td class="">{{ l.lesson_date }}</td>
        </tr>
       </tbody>
     </table>
  
     <h4>
        <div>
           <a href="" [routerLink]="['./lesson_add']" queryParamshandling="merge">Click here to Add a New Lesson</a>
         </div>
       </h4>

     <div class="row-fluid">
       <div class="span6">
         <div class="dataTables_info" id="hidden-table-info_info">All Lessons for this Course is shown here!</div>
       </div>
      <div class="span6">
     <div class="dataTables_paginate paging_bootstrap pagination">
          </div>
         
         </div>
        </div>
      </div>
      
    </div>
   </div>
  </section>
  </div>
  </div>