<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Lessons...
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <div>
                            <div class= "details" style="font-size: 14px; font-weight: 900">
                                Level : {{courseForLesson.name}}&nbsp;&nbsp;&nbsp;  
                                Batch : {{courseForLesson.batch}}&nbsp;&nbsp;&nbsp; 
                                Year  : {{courseForLesson.year}}
                            </div>
                            <br><br><br>
                        </div>

                        <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                            <thead>
                                <tr role="row">

                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                        style="width: 75px; font-size: 10px" >&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<i class="fa fa-bullseye"></i>
                                        &nbsp;&nbsp;&nbsp; 
                                         Lesson ID
                                        </th>
                                        
                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                        style="width: 187px; font-size: 10px">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<i class="fa fa-archive" aria-hidden="true"></i>
                                        &nbsp;&nbsp;&nbsp; 
                                        Lesson Name
                                    </th>

                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" 
                                        style="width: 187px; font-size: 10px">&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar-check-o" aria-hidden="true"></i> 
                                        &nbsp;&nbsp;&nbsp; 
                                        Scheduled Date
                                    </th>

                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    
                                    <tr *ngFor="let i of lesson" class="odd">
                                        <td class=" "> {{i.id}} </td>
                                        <td><a [routerLink]="['../../lesson_attendance']" queryParamsHandling="merge" (click)="passLessonDetails( i )"  >
                                            {{i.name}}</a>
                                        </td>
                                        <td class=" "> {{i.held_date}} </td>

                                    </tr>
                                    
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>