h3{
  font-family:  'Open Sans', sans-serif; 
  font-size: 15pt;         
  font-style: normal; 
  font-weight: normal; 
  color:rgb(0, 0, 0);
  text-align: center; 
  
}

table{
  color: #797979;
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  margin: 0px !important;
  font-size:13px;
  text-rendering:optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  border: 2px solid rgb(255, 255, 255)
}
table.inner{
  border: 0px
}