<h3>CREATE A NEW COURSE</h3>
<br>

<form [formGroup]="addCourseForm" method="post" (ngSubmit)="saveCourse(addCourseForm.value)" novalidate>
    <table align="center" cellpadding="10">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <tr>
            <td>COURSE BATCH :- </td>
            <td>
            <input type="text" class="form-control" formControlName="course_batch" name="Course_Batch" placeholder="Batch-**" value="Batch-" required/>
            <small *ngIf="!isValid('course_batch')" class="text-muted">Not enough characters</small>

            </td>
        </tr>
        <br>

        <tr>
            <td>COURSE NAME :- </td>
            <td>
            <input type="text" class="form-control" formControlName="course_name" name="Course_Name" placeholder="Level-**" value="Level-" required/>
            <small *ngIf="!isValid('course_name')" class="text-muted">Not enough characters</small>

            </td>
        </tr>
        <br>
        
        <tr>
            <td>YEAR :-</td>
            <td>
            <input type="text" class="form-control" formControlName="course_year" name="Year" placeholder="Course Year" required/>
            <small *ngIf="!isValid('course_year')" class="text-muted">Not enough Characters</small>
            </td>
        </tr>
        <br>
        
        <tr>
            <td>DURATION OF THE COURSE:-</td>
            <td>From :-
            
                <dp-date-picker [(ngModel)]="fromDate" [config]="datePickerConfig" [theme]="'dp-material'" formControlName="from_day" placeholder="Starting Date"
            name="From_Day" required></dp-date-picker>
            
            To :-
            
                <dp-date-picker [(ngModel)]="toDate" [config]="datePickerConfig" [theme]="'dp-material'" formControlName="to_day" placeholder="Ending Date"
                name="To_Day" required></dp-date-picker>
                </td>
        </tr>
        <br>
        
        
        <tr>
            <td>DAY :-</td>
            <td>
                <div>
                <select value="course_day" formControlName="course_day" method="post" class="selectpicker">
                <optgroup label="Week Days">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                </optgroup>
                <optgroup label="Weekend Days">
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </optgroup>    
                  </select>
                </div>
            </td>
        </tr>
        <br>
        
        <tr>
            <td colspan="2" align="center">
                <button type="submit" class="btn btn-success" [disabled]="!addCourseForm.valid"  >Submit</button>
                <input type="reset" class="btn btn-danger" value="Reset">
            </td>
        </tr>
    </table>

</form>

