<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Order History
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">

                        <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                            <thead>
                                <tr role="row">

                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                        style="width: 187px; font-size: 10px" ><i class="fa fa-shopping-bag"></i>
                                         
                                         Order No:
                                        </th>

                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                        style="width: 187px; font-size: 10px"><i class="fa fa-user-circle" aria-hidden="true"></i>

                                        Ordered By
                                    </th>

                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" 
                                        style="width: 187px; font-size: 10px"><i class="fa fa-money" aria-hidden="true"></i> 

                                        Total Price For Order
                                    </th>

                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" 
                                        style="width: 187px; font-size: 10px"><i class="fa fa-plus-circle" aria-hidden="true"></i>

                                        Created Date
                                    </th>

                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" 
                                        style="width: 187px; font-size: 10px"><i class="fa fa-pencil-square" aria-hidden="true"></i>

                                        Updated Date
                                    </th>

                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" 
                                        style="width: 187px; font-size: 10px"><i class="fa fa-plane" aria-hidden="true"></i> 

                                        Shipped Date
                                    </th>
                                
                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                    
                                    <tr *ngFor="let i of orderhistory" class="odd">
                                        <td class="sorting_1" ><a [routerLink]="['./view', i.order_id]" (click) = "viewOrder(i.order_id)"> {{ i.order_id }} </a></td>
                                        <td class=" ">      {{ i.user_name                                  }} </td>
                                        <td class=" ">  Rs. {{ i.total_price                                }} </td>
                                        <td class=" ">      {{ i.created_date | date: 'dd/MM/yyyy hh:mm:ss' }} </td>
                                        <td class=" ">      {{ i.shipped  | date: 'dd/MM/yyyy hh:mm:ss'     }} </td>
                                    </tr>
                                    
                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </section>
    </div>
</div>