<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                DataTables hidden row details example
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                            <thead>
                                <tr role="row">
                                    <th class="sorting_disabled" role="columnheader" rowspan="1" colspan="1" aria-label="" style="width: 11px;"></th>
                                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                                        style="width: 187px;">Rendering engine</th>
                                    <th class="sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 236px;">Browser</th>
                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 122px;">Platform(s)</th>
                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                                        rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
                                        style="width: 162px;">Engine version</th>
                                    <th class="hidden-phone sorting" role="columnheader" tabindex="0"
                                        aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                        style="width: 133px;">CSS grade</th>
                                </tr>
                            </thead>

                            <tbody role="alert" aria-live="polite" aria-relevant="all">

                                    <tr class="odd">
                                        <td class="center "><img src="/img/details_close.png"></td>
                                        <td class="  sorting_1"><a href="#">Aector Ltd</a></td>
                                        <td class="hidden-phone ">Lorem Ipsum dorolo imit</td>
                                        <td class=" ">12120.00$ </td>
                                        <td class=" "><span class="label label-info label-mini">Due</span></td>
                                        <td class=" ">
                                            <button class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                                            <button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
                                            <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                                        </td>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="dataTables_info" id="hidden-table-info_info">Showing 1 to 5 of 5 entries</div>
                            </div>
                            <div class="span6">
                                <div class="dataTables_paginate paging_bootstrap pagination">
                                    <ul>
                                        <li class="prev disabled"><a href="#">← Previous</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li class="next disabled"><a href="#">Next → </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>