<header class="panel-heading">
    <h4>Enrolled Students... </h4>
</header>
<div class = "details" style="font-size: 14px; font-weight: 900">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Level : &nbsp;&nbsp;&nbsp;{{ course.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Batch : &nbsp;&nbsp;&nbsp;{{ course.batch }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Year  : &nbsp;&nbsp;&nbsp;{{ course.year }}
            
</div>
<br><br>
<div class="adv-table">
    <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">

        <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info" style="width: 900px;">
            <thead>
                <tr role="row">

                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending" style="width: 75px; font-size: 10px; font-weight: 900">
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-folder" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; 
                        Student ID </th>

                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending" style="width: 175px; font-size: 10px; font-weight: 900">
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 
                        Student Name </th>

                    <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending" style="width: 175px; font-size: 10px; font-weight: 900">
                        &nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 
                        Mark Attendance </th>

                </tr>
            </thead>

            <tbody role="alert" aria-live="polite" aria-relevant="all">

                <tr *ngFor="let i of students" class="odd">
                    <td>{{ i.student_id }}</td>
                    <td><a [routerLink]="['../../student/attendance']" queryParamsHandling="merge" (click)="getStudentAttendance( i )"  >
                        {{ i.first_name }}&nbsp;{{ i.last_name }}</a>
                    </td>
                    <td>
                        <button *ngIf="!attendanceMarked()" class="btn btn-primary btn-xs" queryParamshandling="merge" (click)="markStudentAttendance(course.id, i.student_id)" >Today</button>
                        <i *ngIf="attendanceMarked()" class="fa fa-check">Today &nbsp;</i>
                        <button class="btn btn-danger btn-xs" (click)= "markPastAttendance(course.id, i.student_id)">Mark past attendance</button>

                    </td>


                </tr>

            </tbody>
        </table>
        <br><br><br><br><br><br>
    </div>
</div>

