<div class="row">
        <div class="col-sm-12">
          <section class="panel">
             <header class="panel-heading">
               List of Courses
             </header>
        <div class="panel-body">
          <div class="adv-table"> 
           <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info" >
      
             <thead>
             <tr role="row">
              
              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 150px;">Course Name
              </th>
      
              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 100px;">Year
              </th>
      
              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
              style="width: 150px;">Starting Date
              </th>
      
              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
              style="width: 150px;">Ending Date
              </th>

              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
              style="width: 120px;">Scheduled Day
              </th>

              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
              style="width: 120px;">Students
              </th>

              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
              style="width: 120px;">Lessons
              </th>

              <th class="" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
              rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
              style="width: 120px;">
              </th>
      
             </tr>
            </thead>
          
           <tbody role="alert" aria-live="polite" aria-relevant="all">
          
             <tr class="odd" *ngFor="let c of listcourses">
                                                 
              <td class="">{{ c.courses_name }}</td>
              <td class="">{{ c.courses_year }}</td>
              <td class="">{{ c.courses_from_date }}</td>
              <td class="">{{ c.courses_to_date }}</td>
              <td class="">{{ c.courses_day }}</td>
              
              <td class=""> 
                <a href="" [routerLink]="['./student_list',c.courses_id ]" queryParamshandling="merge" (click)="viewStudent(c.courses_id)">Show Students</a>
              </td>
            
              <td class=""> 
                <a href="" [routerLink]="['./lesson_list',c.courses_id ]"  queryParamshandling="merge" (click)="viewLessons(c.courses_id)">Lessons</a>
              </td>

              <td class="">
                  
              <button class="btn btn-primary btn-xs" ><i class="fa fa-pencil" [routerLink]="['./course_update',c.courses_id]" queryParamshandling="merge" (click)="viewCourse(c)"></i></button>

              <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o " (click)= "deleteCourse(c.courses_id)"></i></button>
              </td> 

      </tr>
            
           </tbody>
         </table>
      
         <div class="row-fluid">
           <div class="span6">
             <div class="dataTables_info" id="hidden-table-info_info">All Courses of the branch is shown here!</div>
           </div>
          <div class="span6">
         <div class="dataTables_paginate paging_bootstrap pagination">
              </div>
             
             </div>
            </div>
          </div>
          
        </div>
       </div>
      </section>
      </div>
      </div>

       <!-- <th class="" role="columnheader" tabindex="0"
              aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
              style="width: 120px;">
              </th> -->