table {
    border-collapse:separate;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid black 1px;
    border-top:solid black 1px;
}

td:first-child, th:first-child {
     border-left: none;
}

