<aside>
        <div id="sidebar"  class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" [routerLink]="['dashboard']">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                
                <li class="sub-menu" [ngClass]="{ 'disabled-menu': !location.permissions['*'] && !location.permissions.orders }" >
                        <a href="javascript:;" >
                            <i class="fa fa-shopping-cart"></i>
                            <span>Orders</span>
                        </a>
                        <ul class="sub">
                            <li><a class="active" [routerLink]="['orders']" queryParamsHandling="merge">Order History</a></li>
                            <li><a [routerLink]="['orders/edit']" queryParamsHandling="merge">Create Order</a></li>
                            <li><a [routerLink]="['orders/packorder_history']" queryParamsHandling="merge">Packs Order History</a></li>
                            <li><a [routerLink]="['orders/packs']" queryParamsHandling="merge">Packs Ordering</a></li>
                           
                        </ul>
                </li>
                <li class="sub-menu" [ngClass]="{ 'disabled-menu': !location.permissions['*'] && !location.permissions.students }" >
                    <a href="javascript:;" >
                        <i class="fa fa-users"></i>
                        <span>Students</span>
                    </a>
                    <ul class="sub">
                        <li><a  [routerLink]="['students/guardian_add']" queryParamsHandling="merge">Add Guardian</a></li>
                        <li><a  [routerLink]="['students/guardian']" queryParamsHandling="merge">Add Student</a></li>
                        <li><a  [routerLink]="['students']" queryParamshandling="merge">List Students</a></li>
                    </ul>
                </li>
    
                <li class="sub-menu"  [ngClass]="{ 'disabled-menu': !location.permissions['*'] && !location.permissions.attendance }" >
                    <a href="javascript:;" >
                        <i class="fa fa-hand-o-up"></i>
                        <span>Attendance</span>
                    </a>
                    <ul class="sub">
                        <li><a  [routerLink]="['attendance/search']" queryParamshandling="merge">Mark Attendance</a></li>
                        <li><a  [routerLink]="['attendance/search_students']" queryParamshandling="merge">View Attendance</a></li>
                    </ul>
                </li>
    
                <li class="sub-menu"  [ngClass]="{ 'disabled-menu': !location.permissions['*'] && !location.permissions.classes }" >
                    <a href="javascript:;" >
                        <i class="fa fa-calendar-o"></i>
                        <span>Courses</span>
                    </a>
                    <ul class="sub">
                            <li><a [routerLink]="['courses']" queryParamsHandling="merge">Add Course</a></li>
                            <li><a [routerLink]="['courses/list']" queryParamsHandling="merge">List Courses</a></li>
                    </ul>
                </li>

                <li class="sub-menu"  [ngClass]="{ 'disabled-menu': !location.permissions['*'] && !location.permissions.classes }" >
                    <a href="javascript:;" >
                        <i class="fa fa-dollar"></i>
                        <span>Payments</span>
                    </a>
                    <ul class="sub">
                            <li><a [routerLink]="['payments']" queryParamsHandling="merge">Go to Payments</a></li>
                    </ul>
                </li>
                <!--multi level menu start-->
                <li class="sub-menu"  [ngClass]="{ 'disabled-menu': !location.permissions['*'] && !location.permissions.administration }" >
                    <a href="javascript:;" >
                        <i class="fa fa-sitemap"></i>
                        <span>Administration</span>
                    </a>
                    <ul class="sub">
                        <!-- add router link below -->
                        <li><a [routerLink]="['users/add']" queryParamsHandling="merge"  href="javascript:;">Add User</a></li>
                        <li><a [routerLink]="['users/list']" queryParamsHandling="merge" href="javascript:;">List Users</a></li>
                    </ul>
                </li>
                <!--multi level menu end-->
            
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>