<div class="container">
<header class="panel-heading">
    Current Order...
</header>

<div class="panel-body">
    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">

            <table class="display table table-bordered dataTable-striped table-hover" id="hidden-table-info" aria-describedby="hidden-table-info_info">
                <thead>
                    <tr role="row">

                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                            rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
                            style="width: 187px;"><i class="fa fa-shopping-bag"></i>  Order Items</th>

                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                            rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 236px;"><i class="fa fa-newspaper-o"></i>  Description</th>

                        <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                            rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 122px;"><i class="fa fa-cubes"></i>  Quantity</th>

                        <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                            rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 122px;"><i class="fa fa-money" aria-hidden="true"></i>  Unit Price</th>

                        <th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                            rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 122px;"><i class="fa fa-dollar"></i>  Total Price</th>
                        <th class="hidden-phone sorting" class="text-center" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
                            rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 122px;"><i class="fa fa-pencil-square-o"></i>&nbsp;</th>
                    
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let order of neworders">
                        <td>{{order.orderitem}}</td>
                        <td>{{order.description}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.unitprice}}</td>
                        <td>{{order.totalprice}}</td>
                        <td><button class="btn btn-info" (click)="showEditOrderForm(order)"><i class="fa fa-edit"></i></button>
                            <button class="btn btn-danger" (click)="removeOrder(order)"><i class="fa fa-minus"></i></button></td>
                    </tr>
                </tbody> 
            </table>
        </div>

        <button class="btn btn-success" (click)="showAddOrderForm()"><i class="fa fa-plus"></i></button>
        <br><br>
        
        <form *ngIf="orderForm">
                <header class="panel-heading">Add Order Details</header>
           <p> <label>Order Item</label>
                <input type ="text" name="oname" [(ngModel)]="newOrder.orderitem"/></p>
            <p><label>Description</label>
                <input type ="text" name="odes" [(ngModel)]="newOrder.description"/></p>
            <p><label>Quantity</label>
                <input type ="text" name="oqua" [(ngModel)]="newOrder.quantity"/></p>
            <p><label>Unit Price</label>
                <input type ="text" name="uprice" [(ngModel)]="newOrder.unitprice"/></p>
            <p><label>Total Price</label>
                <input type ="text" name="tprice" [(ngModel)]="newOrder.totalprice"/></p>

            <p><button type="button" class="btn btn-primary" (click)="saveOrder(newOrder)">Submit</button>
                <button type="button" class="btn btn-warning" (click)="cancelNewOrder()">Cancel</button>
            </p>

        </form>


        <form *ngIf="editOrderForm">
            <header class="panel-heading">Edit Order Details</header>
       <p> <label>Order Item</label>
            <input type ="text" name="oname" [(ngModel)]="editedOrder.orderitem"/></p>
        <p> <label>Description</label>
            <input type ="text" name="odes" [(ngModel)]="editedOrder.description"/></p>
        <p> <label>Quantity</label>
            <input type ="text" name="oqua" [(ngModel)]="editedOrder.quantity"/></p>
        <p> <label>Unit Price</label>
            <input type ="text" name="uprice" [(ngModel)]="editedOrder.unitprice"/></p>
        <p> <label>Total Price</label>
            <input type ="text" name="tprice" [(ngModel)]="editedOrder.totalprice"/></p>

        <p> <button type="button" class="btn btn-primary" (click)="updateOrder(editedOrder)">Submit</button>
            <button type="button" class="btn btn-warning" (click)="cancelEdits()">Cancel</button>
        </p>

    </form>

    </div>
</div>
</div>