<h3>CREATE A LESSON</h3>
<br>

<form [formGroup]="addLessonForm" method="post" *ngIf="addLessonForm">
    <table align="center" cellpadding="10">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <tr>
            <td>LESSON NAME :- </td>
            <td>
            <input type="text" class="form-control" formControlName="lesson_name" name="Lesson_Name" placeholder="Lesson Name" (blur)="addLessonForm.controls['lesson_name'].valid ? checkLessonExists() : 'Invalid'" required/>
            
            <div *ngIf="addLessonForm.get('lesson_name').status === 'VALID'">
                😊 Great This lesson is available!
         </div>
          <div *ngIf="addLessonForm.get('lesson_name').status === '!VALID'">
                😮 Sorry, this lesson is already in the database!
              </div>
            </td>
        </tr>
        
        <br>
        <tr>
            <td colspan="2" align="center">
                <button type="submit" class="btn btn-success" [routerLink]="['../']" [disabled]="!addLessonForm.valid" (click)="saveLesson(addLessonForm.value)" >Submit</button>
                <input type="reset" class="btn btn-danger" value="Reset">
            </td>
        </tr>
    </table>

</form>
