<header class="panel-heading">
        Student Attendance
    </header>
    <div class = "details" style="font-size: 14px; font-weight: 900">
        Student ID   : &nbsp;&nbsp;{{ details.student_id }}&nbsp;&nbsp;  
        Student Name : &nbsp;&nbsp;{{ details.first_name}}&nbsp;{{ details.last_name }}&nbsp;&nbsp;  
        Level        : &nbsp;&nbsp;{{ details.name }}&nbsp;&nbsp;  
        Year         : &nbsp;&nbsp;{{ details.year }}
    </div>
    <br><br>
    <div class="adv-table">
        <div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
    
            <table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info" style="width: 900px;">
                <thead>
                    <tr role="row">
    
                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 75px; font-size: 10px; font-weight: 900">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-folder" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp;
                            Lesson ID
                        </th>
    
                        <th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-sort="ascending"
                            aria-label="Rendering engine: activate to sort column descending" style="width: 175px; font-size: 10px; font-weight: 900">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-file-image-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 
                            Lesson Name
                        </th>
    
                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                            style="width: 100px; font-size: 10px; font-weight: 900">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-calendar" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; 
                            Date
                        </th>

                        <th class="sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                            style="width: 100px; font-size: 10px; font-weight: 900">
                            &nbsp;&nbsp;&nbsp;<i class="fa fa-check-square-o" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp; 
                            Attendance
                        </th>
    
                    </tr>
                </thead>
    
                <tbody role="alert" aria-live="polite" aria-relevant="all">
    
                    <tr *ngFor="let i of lessons" class="odd">
                        <td class=" ">{{ i.id }}</td>
                        <td class=" ">{{ i.name }}</td>
                        <td class=" ">{{ i.held_date }}</td>
                        <td class=" ">
                                <button class="btn btn-success" [disabled]="i.attendance_mark === 1" (click)="markStudentLessonAttendance( i )">
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    Mark Attendance
                                </button>
                                <button class="btn btn-info" [disabled]="i.attendance_mark === 0" (click)="editlessonAttendance( i )">
                                    <i class="fa fa-edit"></i>
                                </button>
                        </td>
                    </tr>
    
                </tbody>
            </table>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>