

    <h3>Assign a guardian</h3>
    <br>
     <br>
     <br>
    <body>
      <table>  
          <input type="text" name="search" placeholder="Guardian Search..">
          <br> 
          <br>
          <br> 
          <br>
          <br> 
          <br>
          <br> 
          <br>
          <br> 
          <br>
          <br> 
          <br>
          <tr>
              <td colspan="2" align="center">
              <input type="submit" class="btn btn-info" value="Submit">
              <input type="button"  class="btn btn-danger" value="Go Back" onclick="history.go(-1)">
              </td>
              </tr>
        </table>
        </body>