<h3>

  Assign a Guardian for the Student</h3>
<br>
<br>
<br>

<body>
  <table [formGroup]="ListallGuardians" (ngSubmit)="assignGuardian(ListallGuardians.value)" method="post">
    <select formControlName="guardians_name" >
      <option value="" disabled selected>Select your guardian...</option>
      <option *ngFor="let g of listguardians" [value]="g.guardians_id" > {{ g.guardians_name }} </option>
    </select>
    <br>
    <br>
    <br>
    <p>Search Guardian:</p>
    <small>by name,phone num or email..</small>
    <input type="text" name="search" placeholder="Search..">
    <a [routerLink]="['../searchguardian']" queryParamshandling="merge">
    <button type="submit" class="btn btn-info">Search</button>
    </a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <tr>
      <td colspan="2" align="center">
        <a [routerLink]="['../add']" queryParamshandling="merge">
        <input type="submit" class="btn btn-success" value="Submit" (click)="saveassGuardian(ListallGuardians.value)" >
        </a>
        <input type="button" class="btn btn-danger" value="Go Back" onclick="history.go(-1)">
      </td>
    </tr>
  </table>
</body>