<div class="row">
<div class="col-sm-12">
<section class="panel">
<header class="panel-heading">
List of Students
</header>
<div class="panel-body">
<div class="adv-table"> 
<div id="hidden-table-info_wrapper" class="dataTables_wrapper form-inline" role="grid">
<table class="display table table-bordered dataTable" id="hidden-table-info" aria-describedby="hidden-table-info_info">
<thead>
<tr role="row">
                                        
<th class="sorting_asc" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending"
style="width: 187px;">Students ID</th>
<th class="sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending" style="width: 236px;">Student Name</th>
<th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending" style="width: 122px;">Date of Birth</th>
<th class="hidden-phone sorting" role="columnheader" tabindex="0" aria-controls="hidden-table-info"
rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
style="width: 162px;">Guardian's Name</th>
<th class="hidden-phone sorting" role="columnheader" tabindex="0"
aria-controls="hidden-table-info" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
style="width: 133px;">Options</th>
</tr>
</thead>
    
<tbody role="alert" aria-live="polite" aria-relevant="all">
    
<tr class="odd">
                                           
<td class="  sorting_1"><a href="#">A 0031</a></td>
<td class="hidden-phone ">Asitha Senarathne</td>
<td class=" ">1992.02.02</td>
<td class=" ">Chathura Senarathne</td>
<td class=" ">
                                    
<button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button>
<button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
</td>
</tr>
</tbody>
</table>
<div class="row-fluid">
<div class="span6">
<div class="dataTables_info" id="hidden-table-info_info">The whole list of the branch will be shown here</div>
</div>
<div class="span6">
<div class="dataTables_paginate paging_bootstrap pagination">
<ul>
<li class="prev disabled"><a href="#">← Previous</a></li>
<li class="active"><a href="#">1</a></li>
<li class="next disabled"><a href="#">Next → </a></li>
</ul>
</div>
</div>
</div>
</div>
    
</div>
</div>
</section>
</div>
</div>